<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Tienda Online</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <h1>Bienvenido a la Tienda Online</h1>
    <p>Haz clic en los enlaces para explorar las funcionalidades:</p>
    <ul>
        <li><a href="/users">Ver todos los usuarios (GET)</a></li>
        <li><a href="/users/new">Agregar un usuario (POST)</a></li>
    </ul>
    <div class="container">
        <div class="cloud front">
          <span class="left-front"></span>
          <span class="right-front"></span>
        </div>
        <span class="sun sunshine"></span>
        <span class="sun"></span>
        <div class="cloud back">
          <span class="left-back"></span>
          <span class="right-back"></span>
        </div>
      </div>
</body>
</html>

